#option{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
a{
    text-decoration: none;
}

#data{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    margin: auto;
}
